:host{
    .mat-icon{
        vertical-align: middle;
        margin-right: 20px;
       
    }
}
.profile-card{
    text-align: center;
    padding: 0 10px 10px 10px;
    color: aliceblue;
   
}
img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

