<mat-nav-list>
    <div class="profile-card">
        <div class="header"></div>
        
        <img src="https://us.123rf.com/450wm/donets/donets1508/donets150800333/43440158-vector-user-icon-of-man-in-business-suit.jpg?ver=6" alt="University Admin">
        <h4>Admin Iheb</h4>
    </div>
    <mat-divider></mat-divider>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/courses">Courses</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/classes">Classes</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/documents">Documents</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/students">Students</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/instructors">Instructors</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/onlineSessions">Online Sessions</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/student-timetables">Student Timetables</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/instructor-timetables">Instructor Timetables</a>

    <mat-divider>
    </mat-divider>
  <h2 matSubheader>Contacts</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
</a>

</mat-nav-list>
