:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    width:220px;
    background-color: #153052;
    color: black;
    mat-list-item{
        color: black;
    }
}

mat-drawer-container{
    height: 100%;
    background-color: rgb(201, 202, 219);
    color: rgb(245, 239, 239);
}

mat-drawer-content {
    background-color:rgb(255, 255, 255);
    color: rgb(5, 0, 0);
    padding: 20px;
  }

 